# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
# 保留comfy子文件夹结构，但忽略其中的文件
comfy/*
!comfy/inputs/
!comfy/workflows/
comfy/inputs/*
comfy/workflows/*
public/masks/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
venv
powershell_venv

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
*.Identifier

# 忽略所有临时文件
public/temp-images

# 忽略所有照片
components/pages/GenerateHistory/photos/

